// Colors
$darkColor: #202020;
$grayColor: #4a4a4a;
$whiteColor: #fff;
$orangeColor: #ff6e30;
$darkOrangeColor: #ce4307;
$paleOrangeColor: #bc572b;

// Fonts
$defaultFontFamily: 'Roboto';
$secondaryFontFamily: 'TT Firs Neue';
$defaultFontSize: 16px;
$defaultLineHeight: 20px;

// Grid
$defaultGap: 30px;
